main{
    padding: 0 20px;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }


.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;

    &::before{
        content: "New";
        background: #FF4E00;
        padding: 10px;
        width: 60px;
        position: absolute;
        top: 20px;
        right: 10px;
        transform: rotate(-90deg);
        color: white;
    }
  }

  
.product__img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.product__title{
    text-align: center;
}

.product__price {
    color: #FF4E00;
    font-weight: bold;
}

.product__icon {
    display: block;
    margin-top: 10px;

    &:hover .product__icon{
        color: #FF4E00;
    }
}

.container__testimonials{
    text-align: center;
    background: #F7F7F7;
    padding: 20px;
    margin: 20px 0;
}

.testimonial__txt{
    color: #777;
}

.container-editor{
    margin-top: 20px;
}
  
.editor__item{
    height: 200px;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.2);
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover .editor__circle{
        transform: scale(1.2);
        bottom: -90px;
        right: -50px;
    }
}

.editor__img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  
.editor__circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.container-tips{
    margin: 20px 0;
    text-align: center;
}

.tip i{
    font-size: 2em;
    color: #333;
    padding: 20px 0;
}

.tip .btn-shop {
    color: #333;

    &:hover{
        color: white;
    }
}

@media screen and (min-width:768px) {
    .editor__item{
      height: 250px;
    }
    .container-tips{
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /*Estilos para web*/

@media screen and (min-width:1024px) { 
    .container-products {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    .product__img {
      height: 150px;
    }
    .container__testimonials{
      font-size: 1.3em; 
    }
    .container-editor{
      display: flex;
      justify-content: space-between;
    }
    .editor__item{
      width: 48%;
    }
    .main-footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
    .copy {
      grid-column-start: span 4;
      text-align: center;
    }
  }

  @media screen and (min-width:1600px) { 
    .product__img {
      height: 200px;
    }
  }