.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    z-index: 10000;
    color: white;
    transition: opacity .6s;
}

.modal__container{
    position: relative;
    width: 450px;
    background-color: #212529;
    margin-left: auto;
    z-index: 1000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
}

.modal__content-form{
    background-color: #343A40;
    width: 90%;
    height: 380px;
    padding: 40px;
}

.modal__content-form-r{
    background-color: #343A40;
    width: 90%;
    min-height: 720px;
    padding: 40px;
}

.modal__title-register{
    margin-top: 300px;
}


.modal__input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label{
        margin-bottom: 20px;
    }

    input{
        padding: 8px;
        border-radius: 5px;
    }

    small{
        color: #aaa;
    }
}

.modal__btn{
    padding: 10px;
    border: none;
    background-color: #FF4E00;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    width: 100px;
}

.modal__close{
    padding: 20px 25px;
    border: 1px solid gray;
    position: absolute;
    top: 40px;
    left: 40px;
}

.modal__show{
    opacity: 1;
    transition: opacity .6s;
}

.modal__button-group{
    display: flex;
    justify-content: space-between;
}

.motal__btn-transparent{
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #FF4E00;
    font-size: 1.2rem;

    transition: background-color .3s;

    &:hover{
        background-color: rgba($color: #FF4E00, $alpha: 0.1);
    }

    &:active {
        animation: gradient 200ms;
        background: rgba($color: #FF4E00, $alpha: 0.3);
        color: #FF4E00;
        box-shadow: none;
      }

    
}

@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #FF4E00 0%, #FF4E00 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #FF4E00 25%, #FF4E00 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #FF4E00 50%, #FF4E00 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #FF4E00 75%, #FF4E00 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #FF4E00 100%, #FF4E00 100%);
    }
  }
  
