.shop__banner{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}


.shop__main-content{
    width: 100%;
}


.container__shop{
    padding: 0 10px;
}

.shop__aside{
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;

    form{
        input[type="text"]{
            border: 1px solid #ccc;
            padding: 12px;
            width: 100%;
        }
    }
    
}

.shop__priceRange{
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 20px;
}

.shop__products{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;

}

@media screen and (min-width:1024px) { 
    .shop__content-product{
        display: flex;
        gap: 10px;
        .shop__aside{
            width: 20%;
        }

        .container-products{
            width: 80%;

            .product{
                height: 300px;
            }
        }
    }
}

}

